/* App.css - Minimal styles since we're using Tailwind CSS */


/* You can add custom styles here if needed */
body, html, #root {
  background-color: black !important;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100%;
}